---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ImmersiveArticleFeed from "../../components/ImmersiveArticleFeed";

const articles = (await getCollection("articles")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout
	title="Articles | Shiranai"
	description="Read my latest articles on web development and technology."
>
	<section class="py-24 min-h-screen">
		<ImmersiveArticleFeed
			client:load
			articles={articles}
			showProfile={false}
			title="All Articles"
			isDirectLink={true}
		/>
	</section>
</Layout>
